name: Exploring Workflow Filters and activities

on:
   workflow_dispatch:
       schedule:
         - cron: "*/59 * * * *"
    push:
      branches:
        - main:
        -  '|feature/*'


    pull_request:
        types:
            - opened
            - closed
        paths-ignore:
            - README.md
        branches:
            - main 

jobs:
  hello:
    



